<footer>
    <div class="wrapper">
        <div class="links">
            <div>
                <strong>Registrace</strong>
                <a href="/registration" title="Registrovat se na konferenci">Registrovat se na konferenci</a>
                <a href="#" title="Registrovat se jako řečník">Registrovat se jako řečník</a>
            </div>
            <div>
                <strong>Přednášející</strong>
                <a href="/#speakers" title="Hlasovat pro přednášejícícho">Hlasovat pro přednášejícícho</a>
            </div>
            <div>
                <strong>Kontakt</strong>
                <a href="/contact" title="Všechny kontakty">Všechny kontakty</a>
                <a href="" title="O nás">O nás</a>
            </div>
            <div>
                <strong>Ke stažení</strong>
                <a href="#" title="Tisková zpráva (PDF)">Tisková zpráva (PDF)</a>
                <a href="#" title="Logo (ZIP)">Logo (ZIP)</a>
                <a href="/program" title="Program (PDF)">Program (PDF)</a>
            </div>
        </div>
        <div class="bottom">
            <p>
                <span>Design</span>
                <a href="http://culikzdenek.cz/" title="Design - Zdeněk Čulík">Zdeněk Čulík</a>
            </p>
            <p>
                <span>Code</span>
                <a href="http://tomaskazatel.cz/" title="Code - Tomáš Kazatel">Tomáš Kazatel</a>
                <span>,</span>
                <a href="https://www.vojtasvoboda.cz/" title="Code - Vojta Svoboda">Vojta Svoboda</a>
            </p>
        </div>
    </div>
</footer>