<nav id="nav" class="{% if this.page.id == 'home' %}white{% endif%}">
    <div class="wrapper">
        <div class="logo">
            <a href="/" title="Home">
                {% if this.page.id == 'home' %}
                <img src="{{ 'assets/images/barcamp_white.svg' | theme }}" alt="logo" id="logo-img" />
                {% else %}
                    <img src="{{ 'assets/images/barcamp_black.svg' | theme }}" alt="logo" id="logo-img" />
                {% endif %}
            </a>
        </div>
        <div class="links">
            <a href="/" title="Home" class="{% if this.page.id == 'home' %}active{% endif %}">Home</a>
            <a href="/program" title="Program" class="{% if this.page.id == 'program' %}active{% endif %}">Program</a>
            <a href="/blog" title="Blog" class="{% if this.page.id == 'blog-list' %}active{% endif %}">Blog</a>
            <a href="/contact" title="Kontakt" class="{% if this.page.id == 'contact' %}active{% endif %}">Kontakt</a>
        </div>
        <div class="button">
            <a href="/registration" title="Registrace">REGISTRACE</a>
        </div>
    </div>
</nav>