@import "settings";
@import "colors";
@import "flexbox";
@import "helpers";

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin: auto 0;

  * {
    outline: none;
  }

}

nav {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $white;

  &.white {
    background-color: transparent;
    .links a {
      color: $white !important;
    }
  }

  .wrapper {
    width: 95%;
    height: 100%;
    max-width: $max-width;
    margin: auto;
    @include flexDisplay();
    @include flexDirection(row);
    @include justifyContent(space-between);
    @include alignItems(center);

    .logo {
      @include flex(2, 20%);
    }

    .links {
      @include flex(6, 60%);
      @include flexDisplay();
      @include flexDirection(row);
      @include justifyContent(flex-end);
      @include alignItems(center);

      a {
        color: $black;
        text-decoration: none;
        margin: 5px 25px 0;
        padding: 5px 0;
        font-size: 14px;
        font-weight: 500;
        border-bottom: 2px solid transparent;

        &.active {
          border-color: $green;
          font-weight: 700;
        }

        &:hover {
          border-color: $green;
        }
      }
    }

    .button {
      @include flex(2, 20%);

      a {
        font-size: 14px;
        font-weight: 500;
        color: $black;
        background-color: $green;
        padding: 10px 30px;
        border-radius: 100px;
        text-decoration: none;
        letter-spacing: 1.8px;
        @include transition(300ms);

        &:hover {
          @include box-shadow(0, 10px, 23px, 0, rgba(0, 0, 0, 0.10));
        }
      }
    }
  }
}

section.section-intro {

  width: 100%;
  height: 100vh;
  max-height: 700px;
  position: relative;

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $transBlack;
    @include flexDisplay();
    @include flexDirection(column);
    @include justifyContent(center);
    @include alignItems(center);

    p {
      font-size: 15px;
      color: $white;
      font-weight: 300;
      max-width: 300px;
      line-height: 2.5;

      &:first-child {
        letter-spacing: 2px;
        font-weight: 400;
      }
    }

    .jumbo {
      @include flexDisplay();
      @include flexDirection(row);
      @include justifyContent(center);
      @include alignItems(center);

      h1 {
        font-size: 42px;
        font-weight: 800;
        margin: 0 10px 20px 10px;
        color: $white;
        border-bottom: 7px solid $green;

        &#changer {
          border-bottom: none;
          font-family: 'Kalam', cursive;
          margin-top: 10px;
        }
      }

    }

  }

  a#arrow {
    width: 50px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    @include transition(350ms);

    &:hover {
      bottom: 15px;
    }
  }

}

section.section-where {

  width: 100%;
  padding: 80px 0;

  .wrapper {
    width: 95%;
    max-width: $small-inner;
    margin: auto;
    @include flexDisplay();
    @include flexDirection(row);
    @include justifyContent(space-around);
    @include alignItems(center);

    div, a {
      @include flexDisplay();
      @include flexDirection(row);
      @include justifyContent(center);
      @include alignItems(center);
      color: $black;

      span {
        font-size: 15px;
        font-weight: 400;
        margin-left: 20px;
      }
    }

    a:hover {
      text-decoration: none;
    }
  }


}

section.section-about {
  width: 100%;
  background-color: $greyBg;
  padding: 20px 0 70px;

  h2 {
    font-size: 32px;
    font-weight: 800;
    border-bottom: 5px solid $green;
    padding: 5px 0;
    display: inline-block;
    margin-bottom: 70px;
  }

  .wrapper {
    width: 95%;
    max-width: $small-inner;
    margin: auto;
    @include flexDisplay();
    @include flexDirection(row);
    @include justifyContent(space-around);
    @include alignItems(flex-start);

    div {
      @include flex(1, 50%);
      padding: 0 30px;
      text-align: justify;

      h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 2;
        padding-right: 50px;
      }

      ol {
        padding-left: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 2;
        list-style-type: none;
        counter-reset: list;

        li:before {
          counter-increment: list;
          content: counter(list) ") ";

        }
      }
    }

  }

}

section.section-program {
  width: 100%;
  padding: 50px 0 70px;
  background-color: $green;

  .wrapper {
    width: 95%;
    margin: auto;
    max-width: $small-inner;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    a {
      font-size: 14px;
      font-weight: 600;
      color: $black;
      background-color: $white;
      padding: 10px 70px;
      border-radius: 100px;
      text-decoration: none;
      letter-spacing: 1px;
      @include transition(300ms);

      &:hover {
        @include box-shadow(0, 10px, 23px, 0, rgba(0, 0, 0, 0.10));
      }
    }
  }

}

section.section-email {
  width: 100%;
  background-color: $greyBg;
  padding: 50px 0 70px;

  .wrapper {
    width: 95%;
    max-width: $small-inner;
    margin: auto;

    h2 {
      font-size: 32px;
      font-weight: 700;
      max-width: 650px;
      margin: 20px auto 50px;
    }

    .form {
      width: 100%;
      max-width: 450px;
      border: 1px solid $grey;
      border-radius: 100px;
      margin: auto;
      padding: 2px;
      @include flexDisplay();
      @include flexDirection(row);
      @include alignItems(center);

      input {
        @include flex(3, 75%);
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 100px;
        background: transparent;
        border: none;
      }

      button {
        @include flex(1, 25%);
        padding: 10px 20px;
        background-color: $green;
        color: $black;
        border: none;
        border-radius: 100px;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        @include flexDisplay();
        @include flexDirection(row);
        @include justifyContent(center);
        @include alignItems(center);

        img {
          margin-left: 10px;
        }
      }

    }
  }

}

section.section-faq {

  width: 100%;
  padding: 70px 0;

  h2 {
    font-size: 32px;
    font-weight: 700;
    display: inline-block;
    margin: auto;
    border-bottom: 5px solid $green;
  }

  .wrapper {
    margin: 50px auto 0;
    width: 95%;
    max-width: 800px;
    @include flexDisplay();
    @include flexDirection(row);
    @include justifyContent(space-around);
    @include alignItems(flex-start);
    @include flex-wrap(wrap);

    .item {
      width: 40%;
      text-align: left;

      span {
        color: $green;
        font-size: 14px;
        font-weight: 700;
        width: 8px;
        display: inline-block;
      }

      a {
        color: $black;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        margin-left: 5px;
      }

      p {
        font-size: 14px;
        font-weight: 300;
        text-align: justify;
        margin: 5px auto auto 18px;
        line-height: 1.5;
        display: none;

      }

    }

  }

}

section.section-registrate {

  width: 100%;
  padding: 50px 0 70px;
  background-color: $green;

  .wrapper {
    width: 95%;
    margin: auto;
    max-width: $small-inner;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin: auto auto 50px auto;

      span {
        border-bottom: 3px solid $black;
      }
    }

    a {
      font-size: 14px;
      font-weight: 600;
      color: $black;
      background-color: $white;
      padding: 10px 30px;
      border-radius: 100px;
      text-decoration: none;
      letter-spacing: 1px;
      @include transition(300ms);

      &:hover {
        @include box-shadow(0, 10px, 23px, 0, rgba(0, 0, 0, 0.10));
      }
    }
  }

}

footer {
  width: 100%;
  background-color: $almostBlack;

  .wrapper {
    width: 95%;
    max-width: $max-width;
    margin: auto;

    .links {
      width: 100%;
      margin: auto;
      padding: 100px 0 70px;
      max-width: $small-inner;
      @include flexDisplay();
      @include flexDirection(row);
      @include justifyContent(space-between);
      @include alignItems(flex-start);

      div {
        @include flexDisplay();
        @include flexDirection(column);
        @include alignItems(flex-start);

        strong {
          font-size: 14px;
          color: $white;
          font-weight: 600;
        }

        a {
          font-size: 14px;
          text-decoration: none;
          color: $halfWhite;
          font-weight: 300;
          margin-top: 20px;

          &:hover {
            color: $almostWhite;
          }
        }
      }

    }

    .bottom {
      width: 100%;
      max-width: $small-inner;
      margin: auto;
      @include flexDisplay();
      @include flexDirection(row);
      @include justifyContent(flex-start);
      @include alignItems(center);
      padding-bottom: 20px;

      p {
        margin-right: 60px;

        span, a {
          color: $halfWhite;
          font-size: 14px;
          font-weight: 300;
        }

        a:hover {
          color: $almostWhite;
        }
      }

    }

  }
}