<section class="section-email">
    <div class="wrapper">
        <h2>Pošlete nám svůj email ať Vám můžeme poslat pouze zásadní novinky</h2>

        <form action="//prazskybarcamp.us14.list-manage.com/subscribe/post?u=10aea90b156144cac912e6597&amp;id=634507db92" method="post" target="_blank">
            <div class="form">
                <input name="EMAIL" type="email" placeholder="mail@address.com" required />
                <button  type="submit">
                    <span>ODESLAT</span>
                    <img src="{{ 'assets/images/arrow_right.svg' | theme }}" alt="arrow-rigth" />
                </button>
            </div>
        </form>

    </div>
</section>