<section class="section-where" id="where">
    <div class="wrapper">
        <div>
            <img src="{{ 'assets/images/calendar_border.svg' | theme }}" alt="calendar" />
            <span>7. 4. 2017</span>
        </div>
        <div>
            <a href="#" title="Místo">
                <img src="{{ 'assets/images/pin_border.svg' | theme }}" alt="pin" />
                <span>Praha, Prostor, Budova</span>
            </a>
        </div>
        <div>
            <img src="{{ 'assets/images/ticket_border.svg' | theme }}" alt="border" />
            <span>Vstup a občerstvení zdarma</span>
        </div>
    </div>
</section>
