<form data-request="onRegister">

    <div class="form-group">
        <label for="registerName">Jméno a příjmení</label>
        <input
            name="name"
            type="text"
            class="form-control"
            id="registerName"
            placeholder="Jméno a příjmení" />
    </div>

    <div class="form-group">
        <label for="talkName">Název přednášky</label>
        <input
            name="name"
            type="text"
            class="form-control"
            id="talkName"
            placeholder="Název přednášky" />
    </div>

    <div class="form-group">
        <label for="annotation">Anotace</label>
        <textarea
            name="annotation"
            class="form-control"
            placeholder="Anotace"
            id="annotation">
        </textarea>
    </div>

    <div class="form-group">
        <label for="selfpromo">Selfpromo</label>
        <textarea
            name="annotation"
            class="form-control"
            placeholder="Selfpromo"
            id="selfpromo">
        </textarea>
    </div>

    <div class="form-group">
        <label for="registerEmail">E-mail</label>
        <input
            name="email"
            type="email"
            class="form-control"
            id="registerEmail"
            placeholder="Enter your email" />
    </div>

    <button type="submit" class="btn btn-default">Registrovat se</button>
</form>
